.centrar{
    text-align: center;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    font-weight: 100;
    width: 100%;
}
.glyphicon {
   font-family:'Glyphicons Halflings' !important;
}


.imgCompleta{
    width: 100%;
}
.iconoGrande{
    font-size: 8em;
    color: #086fbc;
}
.fuenteAzul{
    color: #086fbc;
}
.fuenteBlanca{
    color: #fff;
}
.bloqueAzul{
    background-color: #21b8db;
}
.espacioArriba{
    padding-top: 5em;
}
.espacioAbajo{
    padding-bottom: 5em;
}
.prueba{
   	position: relative;
    bottom:168px;
    color:#fff;
    background-color:#21b8db;
    font-weight:bold;
    text-align: center;
}
.centrarVertical{
  text-align: justify;
  text-justify: inter-word;
}

.centrarImagen {
    display: block;
    margin: auto;
}

.subir {
  color: #fff;
position: absolute;
z-index: 1;
padding-top: 15em;
}

figure.snip1321 {
  font-family: 'Raleway', Arial, sans-serif;
  overflow: hidden;
  margin: auto;
  max-width:90%;
  width: 100%;
  color: #000000;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
figure.snip1321 * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
figure.snip1321 img {
  max-width: 100%;
  vertical-align: top;
}
figure.snip1321 figcaption {
  top: 50%;
  left: 20px;
  right: 20px;
  position: absolute;
  opacity: 0;
  z-index: 1;
}
figure.snip1321 h2,
figure.snip1321 h4 {
  margin: 0;
}
figure.snip1321 h2 {
  font-weight: 600;
}
figure.snip1321 h3 {
  padding: 3em;
  font-weight: 500;
}

.capitalizable {
  text-transform: capitalize;
  font-size: 5em;
}
figure.snip1321 i {
  font-size: 32px;
}
figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 40px;
  right: 40px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
figure.snip1321 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1321:hover figcaption,
figure.snip1321.hover figcaption {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
figure.snip1321:hover:after,
figure.snip1321.hover:after {
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
  opacity: 0.9;
}

.espacioTexto{
  padding-top: 10em;
  line-height: 240%;
}

.ajustar{
    padding-left: 25em;
    padding-right: 25em;
}
.ajustarParrafo{
  line-height: 240%;
}
.row.vertical-divider {
  overflow: hidden;
}
.row.vertical-divider > div[class^="col-"] {
  text-align: center;
  padding-bottom: 100px;
  margin-bottom: -100px;
  padding-left: 4em;
  padding-right: 4em;
  border-right: 3px solid #F2F7F9;
}
.row.vertical-divider div[class^="col-"]:first-child {
  border-left: none;
}
.row.vertical-divider div[class^="col-"]:last-child {
  border-right: none;
}

/*Nuevo menu*/

#btn-menu{
    display: none;
}

header label{
    display: none;
}

.navbar-nav > li {
  position: relative;
  display: block;
}

#centro{
     display: inline-block;
    text-align: center;
}


@media (max-width: 400px) {
        
     .subir {
  color: #fff;
position: absolute;
z-index: 1;
padding-top: 65em;
}
    
     .frase {
        font-size: 110%;
    }

    .subtitulo{
        font-size: 110%;
    }
    
    .titulo{
        font-size: 160%;
    }
    
    figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
    
}

nav{
    padding-top: 2em;
}
ul{
    padding-top: 2em;
}
li{
    margin-right: 3em;
    display: inline;
   
}
li a{
    transition: 0.3s;
    text-decoration: none;
    padding: 30px 0px 30px 0px;
}
li a:hover{
    border-top: 4px solid #21b8db;
    border-bottom: 4px solid #21b8db;
    padding: 6px 0;
    text-decoration: none;
}

#nav{
    display: none;
}


@media (max-width: 767px) {

   
nav ul {
		  display: none;
        
	}

	label {
  		display: block;
  		width: 40px;
  		height: 40px;
  		cursor: pointer;
        position: absolute;
		right: 20px;
  		top: 40px;
	}
  
label:after{
  content:'';
  display: block;
  width: 30px;
  height: 5px;
  background: #777;
  margin: 7px 5px;
  box-shadow: 0px 10px 0px #777, 0px 20px 0px #777
}

	[type="checkbox"]:checked ~ ul {
  		display: block;
  		z-index: 9999;
  		position: absolute;
		  right: 20px;
		  left: 20px;
        
	}

	nav a {
		  color: #086fbc;
	}

	nav ul li {
		  display: block;
  		float: none;
  		width: 100%;
  		text-align: center;
  		background: #fff;
		 
        padding-top: 25px;
	}

	nav > ul > li {
  		margin-left: 0px;
	}

	nav > ul li ul li {
  		display: block;
		  float: none;
	}
  
	nav > ul li ul {
		  display: block;
  		position: relative;
  		width: 100%;
		  z-index: 9999;
		  float: none;
	}
  
    
    

/*Hasta aqui*/
    
 .navbar-nav > ul> li {
  position: relative;
  display: block;
  padding: 2px 80px;
  line-height: 60px;  
  overflow: hidden; 
  background-color: white;
  text-align: center;
    }
    
    .menu li a:hover{
     border-top: 4px solid #21b8db;
    border-bottom: 4px solid #21b8db;
    padding: 6px 0;
    text-decoration: none;    
    max-height: 360px;
}
    

    .frase {
        font-size: 110%;
    }

    .subtitulo{
        font-size: 140%;
    }
    
    .titulo{
        font-size: 160%;
    }
    
    .subir {
  color: #fff;
position: absolute;
z-index: 1;
padding-top: 30em;
}
    .espacios{
        display: none;
    }
    
      figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
    
    
}

@media (max-width: 1200px) {
    .navbar .navbar-brand{
        align-content: center;
    }
       
  .frase {
        font-size: 110%;
    }

    .subtitulo{ 
        font-size: 140%;
    }
    
    .titulo{
        font-size: 160%;
    }
    
      .subir {
  color: #fff;
position: absolute;
z-index: 1;
padding-top: 13em;
}
    
    .unEspacio{
        display: none;
    }
    
      figure.snip1321:after {
  background-color: #ffffff;
  position: absolute;
  content: "";
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  opacity: 0;
}
    
}

